<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="about">
    <p class="headers">Backend</p>
    <p>As a backend I have started to study this year and I only know a little about it, being able to create the server
      that maintains this page with these frameworks.</p>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/nodejs-1.svg" alt="">
      <p class="headers">NodeJS</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/express-109.svg" alt="">
      <p class="headers">ExpressJS</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/mysql.png" alt="">
      <p class="headers">MySQL</p>
    </div>
  </div>
  <p>Here examples of them.</p>
  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <a href="https://yourguitartabs.up.railway.app">
      <div class="cart">
        <img src="img/icons/pngegg.png" alt="">
        <div class="about">
          <p class="headers">Your GuitarTabs</p>
          <p>Is the same page, but using database and uploaded into railway.app</p>
        </div>
      </div>
    </a>
  </div>
</div>