<div class="container" >
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#Home" class="nav-link px-2 ">Home</a></li>
        <li class="nav-item"><a href="#About" class="nav-link px-2 ">About me</a></li>
        <li class="nav-item"><a href="#Skills" class="nav-link px-2 ">Skills</a></li>
        <li class="nav-item"><a href="#Frontend" class="nav-link px-2 ">Frontend</a></li>
        <li class="nav-item"><a href="#Backend" class="nav-link px-2 ">Backend</a></li>
        <li class="nav-item"><a href="#Others" class="nav-link px-2 ">Others</a></li>
      </ul>
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <a href="https://github.com/AleSGXRD">
            <img class="photoSite" src="img/github.svg" alt="Icono de github"/>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100023449895483">
            <img class="photoSite" src="img/facebook.svg" alt="Icono de facebook"/>
          </a>
          <a href="https://twitter.com/ale_xrd">
            <img class="photoSite" src="img/twitter.svg" alt="Icono de twitter"/>
          </a>
      </ul>
    </footer>
  </div>