<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="about">
    <p class="headers">Frontend</p>
    <p>I love this field too much, here is the frameworks I use for now</p>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/Html.svg" alt="">
      <p class="headers">HTML</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/Css.svg" alt="">
      <p class="headers">CSS</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/Js.svg" alt="">
      <p class="headers">JavaScript</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/jquery-icon.svg" alt="">
      <p class="headers">Jquery</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/bootstrap-5-1.svg" alt="">
      <p class="headers">BootStrap</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/ejs.png" alt="">
      <p class="headers">EJS</p>
    </div>
  </div>
  <p>Here examples of them.</p>
  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <a href="/guitarTabs">
      <div class="cart">
        <img src="img/icons/pngegg.png" alt="">
        <div class="about">
          <p class="headers">Your GuitarTabs</p>
          <p>A web for the guitar fans with a lot of tabs free. </p>
        </div>
      </div>
    </a>
  </div>
</div>
<div class="row" style="margin-top: 20px;">

</div>
</div>