<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="about">
    <p class="headers">Others</p>
    <p>Theres are the other languages and frameworks i can use.</p>
  </div>
</div>
<div class="row">
  <p>Languages</p>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/c.svg" alt="">
      <p class="headers">C++</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/c--4.svg" alt="">
      <p class="headers">C#</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/java_original_logo_icon_146458.png" alt="">
      <p class="headers">Java</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/python-5.svg" alt="">
      <p class="headers">Python</p>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <p>FrameWorks</p>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/unity-69.svg" alt="">
      <p class="headers">Unity</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/android-4.svg" alt="">
      <p class="headers">Android Studio</p>
    </div>
  </div>
  <div class="col-6 col-md-4 col-lg-2 col-xl-2">
    <div class="framework">
      <img src="img/icons/Frameworks/godot-logo.svg" alt="">
      <p class="headers">Godot</p>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <p>Participated</p>
  <div class="col-12 col-md-12 col-lg-6 col-xl-6">
    <a href="/2022-Caribbean-Finals-Alejandro-Sánchez-González-REGIONAL_CHAMPION.pdf">
      <div class="cart">
        <img src="img/icons/Frameworks/site-logo.png" alt="">
        <div class="about">
          <p class="headers">ICPC</p>
          <p>I participate in the ICPC too, here is the certificate for this. </p>
        </div>
      </div>
    </a>
  </div>
</div>
</div>